
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta http-equiv="Lang" content="en">
      <title>{% block title %}vlans{% endblock %}</title>
      <style>
         table, table td, table th
         {
            border-collapse: collapse;
            border-color: black;            
         }
         
         .root 
         {
            margin-left: 15px; 
            font-weight: bold;
         }
         
         .child
         {
            display: none;
            margin: 5px 0 5px 15px;  
            padding: 5px; 
            border: 1px solid black; 
            font-weight: normal;
         }
         
          .ui-tooltip, .arrow:after {
	  background: black;
	  border: 2px solid white;
	  }
	  .ui-tooltip {
	  padding: 10px 20px;
	  color: white;
	  border-radius: 20px;
	  font: bold 14px "Helvetica Neue", Sans-Serif;
	  text-transform: uppercase;
	  box-shadow: 0 0 7px black;
          max-width: 550px;
	  min-width: 350px;	   
	  }
	  .arrow {
	  width: 70px;
	  height: 16px;
	  overflow: hidden;
	  position: absolute;
	  left: 50%;
	  margin-left: -35px;
	  bottom: -16px;
	  }
	  .arrow.top {
	  top: -16px;
	  bottom: auto;
	  }
	  .arrow.left {
	  left: 20%;
	  }
	  .arrow:after {
	  content: "";
	  position: absolute;
	  left: 20px;
	  top: -20px;
	  width: 25px;
	  height: 25px;
	  box-shadow: 6px 5px 9px -9px black;
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  transform: rotate(45deg);
	  }
	  .arrow.top:after {
	  bottom: -20px;
	  top: auto;
	  }
      </style>
      <!-- script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
      <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
      
      <script type="text/javascript">
      $(function() {
           $( document ).tooltip({
	     items: "[title]",
	     content: function() {
	     var element = $( this );
	   
	     if ( element.is( "[title]" ) ) {
		   return element.attr( "title" );
	     }
	   
	     },
	      position: {
	      my: "center bottom-10",
	      at: "center top",
	      using: function( position, feedback ) {
	      $( this ).css( position );
	      $( "<div>" )
	      .addClass( "arrow" )
	      .addClass( feedback.vertical )
	      .addClass( feedback.horizontal )
	      .appendTo( this );
	      }
	      }
	      
	     
	   });
          
															    																		
	});
      </script>
   </head>
   <body style="background-color: rgb(240, 240, 240); border-radius: 5px 20px 5px 20px; padding: 10px 20px;">
    <div>{% block content2 %}Empty Content Block{% endblock %}</div>
    <div>{% block content %}Empty Content Block{% endblock %}</div>
    </body> 
</html>
