{% extends "view_vlans.html" %}

{% block title %}vlans{% endblock %}

{% block content1 %}
           <div style="margin-left: auto; overflow: auto; height: 500px; position: fixed; background-color: rgb(240, 240, 240); border-radius: 5px 20px 5px 20px; padding: 10px 20px;">
           <table border='1' cellpadding='3' style="margin-left: auto;">
	    <tr>{{rt}}</tr>
            <tr>
                <th>Name</th>
                <th>ipaddress</th>
                <th>ports</th>
		<th>ports_u</th>
		<th>type</th>
            </tr>
        
          {% for na in rezu  %}
             {%if "." in ip %} 
            <tr  style='background-color: #C0FFFF' class='tooltips' title='{{na.5}}' >  
                    <td>{{na.0}}</td><td><a href="http://{{ na.1 }}">{{na.1}}</a></td><td>{{na.2}}</td><td>{{na.3}}</td><td>{{na.4}}</td>
            </tr>
             {% endif %}   
        {%endfor%}
          </table>
           </div>
{% endblock %}
