{% extends "view_vlans.html" %}

{% block title %}vlans{% endblock %}

{% block content1 %}
           <div style="margin-left: auto; overflow: auto; height: 500px; position: fixed; background-color: rgb(240, 240, 240); border-radius: 5px 20px 5px 20px; padding: 10px 20px;">
           <table border='1' cellpadding='3' style="margin-left: auto;">
	    <tr>{{rt}}</tr>
            <tr>
                <th>Vlan name</th>
                <th>vlan id</th>
            </tr>
          {% for f in rezu  %}
            <tr  style='background-color: #C0FFFF' >
             {% for str in f  %}   
            <td>{{str}}</td>
             {% endfor %}
            </tr>
          {% endfor %}
          </table>
           </div>
{% endblock %}
