{% extends "view_vlans.html" %}

{% block title %}vlans{% endblock %}

{% block content1 %}
           <div style="margin-left: auto; overflow: auto; height: 500px; position: fixed; background-color: rgb(240, 240, 240); border-radius: 5px 20px 5px 20px; padding: 10px 20px;">
           <table border='1' cellpadding='3' style="margin-left: auto;">
	   <tr>{{rt}} config - <a href="http://192.168.255.9/conf/{{ip}}.cfg">{{ip}}.cfg</a></tr>
	   <tr align ='top' valign='top'>
	    <th align ='top' valign='top'>
	   <table border='1' cellpadding='3' style="margin-left: auto;">
	    
            <tr>
                <th>port</th>
                <th>Description</th>
            </tr>
          {% for f in rezu  %}
            <tr  style='background-color: #C0FFFF'>
             {% for str in f  %}   
            <td>{{str}}</td>
             {% endfor %}
            </tr>
          {% endfor %}
          </table>
	    </th>
	    <th>
           <table border='1' cellpadding='3' style="margin-left: auto;">
            <tr>
                <th>vlan name</th>  
                <th>vlan</th>
                <th>ports</th>
                <th>ports_u</th>
            </tr>
          {% for f1 in rezu1  %}
            <tr  style='background-color: #C0FFFF'>
             {% for str1 in f1  %}   
            <td>{{str1}}</td>
             {% endfor %}
            </tr>
          {% endfor %}
          </table>
	   </table>
	   </th>
	   </tr>
	   </table>
           </div>
{% endblock %}
