{% extends "base.html" %}

{% block title %}vlans{% endblock %}

{% block content2 %}
<div style="margin-left: 1000px; overflow: auto; height: 50px; position: fixed; background-color: rgb(240, 240, 240); border-radius: 5px 20px 5px 20px; padding: 10px 20px;">
   <a href="" ></a>
     </div>    
{% endblock %}

{% block content %}
<div style="margin-left: 450px; overflow: auto; height: 300px; position: fixed; background-color: rgb(240, 240, 240); border-radius: 5px 20px 5px 20px; padding: 10px 20px;">
          <fieldset>
	  <form method="get" action="/search/">
	<input type="text" name="search" />
	<input type="submit" value="Поиск"  /><br />
	<input type="checkbox" value="1" name="check" />ports
	  </form>
	    <legend>Поиск</legend>
	    &nbsp;
	  </fieldset>
	  <div id="content" style="background-color: rgb(240, 240, 240); border-radius: 5px 20px 5px 20px; padding: 10px 20px;"></div>
	  <ul id="results" class="update" style="background-color: rgb(240, 240, 240); border-radius: 5px 20px 5px 20px; padding: 10px 20px;" ></ul>
          <!--<div id='content' style='position: fixed; margin-left: 420px; background-color: #F0F0F0; border: 1px solid navi; border-radius: 5px 20px; padding: 10px 20px;'>-->
{% block content1 %}{% endblock %}
</div>
    
<div style="margin-left: 22px; overflow: auto; height: 700px; position: fixed; background-color: rgb(240, 240, 240); border-radius: 5px 20px 5px 20px; padding: 10px 20px;">
 {% for f in d %}
   <li><a href="/viewvlan/{{ f }}" >{{ f }}</a></li>
 {% endfor %}
 
    </div>    
{% endblock %}


